.hospital-section{

    background: #EEEFF5;
}
.breadcrumb li a{
    text-decoration: none;
    color: rgb(4, 4, 47);
    font-size: 12px;
}
.css-avatar-img {
    height: 0;
    padding: 0;
    padding-bottom: 100%;
    background: #ddd center/cover no-repeat;
}
@media (min-width: 992px){
.css-col-stats {
    border-left: 1px solid #dee2e6;
}
}