.home-banner {
  background: #006 url(/src/Components/Assets/Landing.jpg) no-repeat;
  background-size: 100% auto;
  background-position: 100% bottom;
  min-height: 65vh;
  display: flex;
  align-items: center;
}
.btn-detect {
  background-color: #f3f2f7;
  color: #006;
  font-size: 22px;
}
.form-select {
  width: 80%;
  background-image: none;
  color: #495057;
  padding: 12px;
}
#filter-search-button {
  padding: 0.375rem 2.7rem !important;
  font-size: 18px;
  background-color: #ff9e15;
  border-color: #ff9e15;
  color: white;
}

.text-holder {
  background: rgba(43, 47, 136, 0.7);
  display: inline-block;
  padding: 13px 30px;
}

.input-group-text{
  color: #ff9e15;
  background: white;
}
.loc-icon{
  color: #ff9e15 !important;
}